{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Payment info
{% endblock %}

{% block content %}

    <div class="panel panel-default" style="margin-bottom:10px">
        <div class="panel-body">
            <p><strong>MTurk:</strong></p>
            <p>Thank you for participating. You will receive {{ participant.payoff }} in total for this experiment.</p>
            <p>One point equals $0.1.</p>
            <p>Your completion code is: {{participant.code}}</p>
            <p>Please copy this code.</p>
            <p></p>
            <p><em>The experiment is now over.</em></p>
        </div>
    </div>

    <br>
{% next_button %}

{% endblock %}

