{{ block title }}Welcome to the Experiment!{{ endblock }}


  {% block title %}
    Welcome to this academic experiment
    {% endblock %}



{% block content %}

    <style>
        .otree-timer {
            display: none;
        }
    </style>

    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            $('.otree-timer__time-left').on('update.countdown', function (event) {
                if (event.offset.totalSeconds === 10) {
                    $('.otree-timer').show();
                }
            });
        });
    </script>

    <p><strong>Information</strong></p>

    <p>
    Thank you for participating!
    Completion time is about 10 minutes.
    In this experiment you will play one small Task and complete a short Cognitive Test.
    Your earnings depend on your answers for the Task and Cognitive Test.
    Your decisions and responses will contribute to academic research.
    Thus, please read everything carefully and answer all questions truthfully.
    </p>

    <p>
    Once you have started please work on this HIT only. The estimated time to complete is about 10 minutes.
    It is important for this research project that you complete the experiment.
    Only by completing it you will be rewarded any payment.
    </p>

    <p>
    When undertaking this HIT please do not switch between browser tabs.
    Do not close the browser tab until the experiment is finished.
    </p>

    <p>
    If you click on the "Next" Button the experiment will start.
    At the end there is a questionnaire and you will get paid afterwards!
    The Experiment might end prematurely if you can't answer the Captcha or there is some technical problem.
    All data is collected anonymously and aggregated.
    Since this is an Economic Experiment, you won't be lied to and can rely on the information given.
    </p>

    {% formfield player.agree %}
    <br>
    {% next_button %}

{% endblock %}
