{% block title %}
    Instructions
{% endblock %}


{% block content %}<p>
You will now play a pattern game, where you are asked to solve some puzzles.
    On the screen, you will see a set of abstract pictures with one of the pictures missing.
    You need to choose a picture from the choices below to complete the pattern. </p>
<p>
You will have a total of 8 minutes to complete 12 such puzzles. During these 8 minutes you will be able to move forwards and backwards and change your
    answers using the buttons and tabs on your screen.</p>
<p>
Once the 8 minutes have passed, the pattern game will be automatically submitted and you
    will proceed to the results. You can submit all your answers once you reach the
    last puzzle by clicking on the button that will appear and be labelled "Finish and proceed to next step".</p>
<p>
At the end of the experiment, you will earn {{C.EARNING_PER_ITEM}} USD (approx. INR 20) per the number of correct answers you submitted.</p>

<p> Make sure to keep note of the completion code that will be shown to you at the end of the experiment.
    You will need to input this when submitting the HIT to be approved for payment. </p>

<p class="space"></p>

<p> Click on "next" to proceed to the pattern game. </p>

<p class="space"></p>
<p>
</p>
{{formfields}}

{% next_button %}

{% endblock %}