{% block title %}
    Instructions Puzzle Game
{% endblock %}


{% block content %}
<p>
You will now play a pattern game, where you are asked to solve some puzzles. per correct answer you will get {{C.EARNING_PER_ITEM}} points.
    On the screen, you will see a set of abstract pictures with one of the pictures missing.
    You need to choose a picture from the choices below to complete the pattern, like in the example below.
</p>
<p>
    <img src="{% static 'raven_matrices/example.jpg' %}" alt="Trulli" width="466" height="500" class="center">
<p>
<p>
In this example 8 is the correct answer. The logic of these puzzles is always horizontal and vertical but NOT DIAGONAL. You will have a total of 5 minutes to complete 6 such puzzles. During these 4 minutes you will be able to move forwards and backwards and change your
    answers. The puzzles get more difficult.</p>
<p>
Once the 4 minutes have passed, the pattern game will be automatically submitted. You can submit yourself before on the last page.</p>

<p class="space"></p>

<p> Click on "next" to proceed to the pattern game. </p>

<p class="space"></p>
<p>
</p>
{{formfields}}

{% next_button %}

{% endblock %}